---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
        <h2>
          <a class="post-link" href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        </h2>

        <div class="excerpt">
            {{ post.excerpt }}
        </div>

        {% capture continuation %}{{ post | has_continuation }}{% endcapture %}
        {% if continuation == 'true' %}
        <footer>
            <a rel="full-article" href="{{ root_url }}{{ post.url }}">Read on &#8594;</a>
        </footer>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="previous">&#8610; Older</a>
    {% endif %}

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="next">Newer &#8611</a>
    {% endif %}

  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
