/**
 * Single Serving Photo custom elements.
 */

.post-list {
    .excerpt p,
    footer a {
        font-family: Arial;
    }
}

.post-content {
    font-family: Arial;
}

.post-title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}



/**
 * Archives
 */
section#archive {
    ul {
        list-style-type: none;

        li {
            font-size: 1.1em;
            margin-bottom: 0.5em;

            time {
                color: #888;

                &:after {
                    content: " // ";
                }
            }
        }
    }
}

a:hover {
    text-decoration: none;
}

ul.post-list {
    .post-link {
        font-size: 1.2em;
        padding-bottom: 10px;
    }

    > li {
        margin-bottom: 4em;
    }

    li ul {
        list-style-type: disc;
        margin-bottom: 1em;
    }
}


/**
 * Images
 */
article.post-content,
.excerpt {
    figure.left {
        max-width: 40%;
        float: left;
        margin: 0 1em 1em 0;

        @include media-query($on-palm) {
            display: table;
            float: none;
            max-width: 100%;
            margin: 1em auto;
        }
    }

    figure.right {
        max-width: 40%;
        float: right;
        margin: 0 0 1em 1em;

        @include media-query($on-palm) {
            display: table;
            float: none;
            max-width: 100%;
            margin: 1em auto;
        }
    }

    figure.center {
        img {
            float: none;
            object-fit: cover;
        }

        display: table;
        max-width: 100%;
        margin: 2em auto;
    }

    figure.modest {
        img {
            float: none;
        }

        display: block;
        width: 75%;
        margin: 2em auto;

        @include media-query($on-palm) {
            width: 100%;
        }
    }

    figure.drop {
        border: 10px solid white;
        box-shadow: 3px 3px 4px silver;
    }

    figure figcaption {
        text-align: center;
        margin-top: 0.5em;
    }

    ul li, ol li {
        margin-bottom: 1em;
    }
}
