/**
 * Single Serving Photo custom elements.
 */

.post-list {
    .excerpt p,
    footer a {
        font-family: Arial;
    }
}

.post-content {
    font-family: Arial;
}

.post-title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}



/**
 * Archives
 */
section#archive {
    ul {
        list-style-type: none;

        li {
            font-size: 1.1em;
            margin-bottom: 0.5em;

            time {
                color: #888;

                &:after {
                    content: " // ";
                }
            }
        }
    }
}

a:hover {
    text-decoration: none;
}

ul.post-list {
    .post-link {
        font-size: 1.2em;
        padding-bottom: 10px;
    }

    > li {
        margin-bottom: 4em;
    }

    li ul {
        list-style-type: disc;
        margin-bottom: 1em;
    }
}


/**
 * Images
 */
article.post-content,
.excerpt {
    img {
        max-width: 40%;
        margin-bottom: 1em;
    }


    img.left {
        float: left;
        margin: 0 1em 1em 0;
    }

    img.center {
        max-width: 100%;
        margin: 2em auto;
    }

    img.drop {
        border: 10px solid white;
        box-shadow: 3px 3px 4px silver;
    }

    ul li, ol li {
        margin-bottom: 1em;
    }
}
