/**
 * Single Serving Photo custom elements.
 */



/**
 * Archives
 */
section#archive {
    ul {
        list-style-type: none;

        li {
            font-size: 1.1em;
            margin-bottom: 0.5em;

            time {
                color: #888;

                &:after {
                    content: " // ";
                }
            }
        }
    }
}

a:hover {
    text-decoration: none;
}

ul.post-list {
    .post-link {
        font-size: 1.2em;
    }

    li ul {
        list-style-type: disc;
        margin-bottom: 1em;
    }
}
